[submodule "http"]
	path = http
	url = git://github.com/PeterJCLaw/sr-comp-http.git
[submodule "screens"]
	path = screens
	url = git://github.com/tomleese/sr-comp-screens
[submodule "shepherding"]
	path = shepherding
	url = git://github.com/tomleese/sr-comp-shepherding
[submodule "compstate"]
	path = compstate
	url = git://github.com/PeterJCLaw/sr-dummy-comp.git
# TODO: use this instead
#	url = git://srobo.org/comp/sr2014-comp.git
